services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: translations
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
      - /db/init.sql:/docker-entrypoint-initdb.d/init.sql      
    networks:
      - my_network

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/translations
    ports:
    - "3001:3001"
    depends_on:
    - translator
    - db
    networks:
      - my_network

  frontend:
    build: ./frontend
    ports:
      - "8080:80" 
    depends_on:
      - db  
    networks:
      - my_network  

  translator:
    image: libretranslate/libretranslate
    ports:
      - "5000:5000"
    depends_on:
      - db 
    networks:
      - my_network     

volumes:
  db_data:

networks:
  my_network:
    driver: bridge